@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9faf9;
  --foreground: #171717;
  font-size: 3vw;
}


@media screen and (min-width: 769px) and (max-width: 1079px) {
  :root {
    font-size: 1.6vw;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1599px) {
  :root {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    font-size: 1vw;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}